*{
	margin: 0;
	text-align: center;
}

img {
	/*width: 300px;*/
	height: 500px;
	margin: 0 auto;
	display: block;
}

.preview {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-bottom: 10px;
}

section {
	display:inline-block;
	margin: 10px
}

div{
	display: inline-block;
	vertical-align: top;
}
.container {
	margin: 20px 40px;
}